In [1]:
import numpy as np
import pandas as pd 
import pingouin as pg

In [2]:
# Create an example vote df
vote1 = [1,2,1,2,1,1,1,2,1]
vote2 = [1,2,2,2,1,1,1,1,1]
vote3 = [1,2,2,2,1,1,1,1,1]
vote4 = [1,2,1,2,1,1,1,2,1]
df = pd.DataFrame({'voter 1':vote1,'voter2':vote2,'voter3':vote3,'voter4':vote4})
df

   voter 1  voter2  voter3  voter4
0        1       1       1       1
1        2       2       2       2
2        1       2       2       1
3        2       2       2       2
4        1       1       1       1
5        1       1       1       1
6        1       1       1       1
7        2       1       1       2
8        1       1       1       1

In [3]:
# Calculate the Cronbach Alpha value
def CronbachAlpha(itemscores):
    itemscores = np.asarray(itemscores)
    itemvars = itemscores.var(axis=0, ddof=1)
    tscores = itemscores.sum(axis=1)
    nitems = itemscores.shape[1]

    return (nitems / (nitems-1)) * (1 - (itemvars.sum() / tscores.var(ddof=1)))

In [4]:
CronbachAlpha(df)

0.888888888888889